#reset-button {
  visibility: hidden;
}
#hint-space {
  visibility: hidden;
}
.navbar {
  background-color: #63bd9a;
}
h1 {
  font-family: "Fredoka One", cursive;
  color: #ffffff;
}
#link-text {
  font-size: 10px;
}
#heart-gif {
  padding: 15px;
  background-color: #dee0e0;
}
h3 {
  margin-top: 20px;
  font-family: "Quattrocento Sans", sans-serif;
}
li {
  list-style-type: none;
  font-family: "Quattrocento Sans", sans-serif;
}
#word-space {
  font-size: 2em;
}
h3,
p,
span {
  font-family: "Quattrocento Sans", sans-serif;
}
#reset-button {
  padding: 10px;
  background-color: #63bd9a;
  border-radius: 20px;
  border: none;
  color: #ffffff;
  font-family: "Quattrocento Sans", sans-serif;
}
